@use "sass:color";

@mixin flexed {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border($bw: 1px, $bclr: black) {
    border: $bw solid $bclr;
}

@mixin full {
    position: relative;
    width: 100%;
    height: 100%;
}

$iconLength: 24px;
$gapLen: 16px;

.status-bar-cover {
    position: fixed;
    top: 0;
    bottom: env(safe-area-inset-top);
    left: 0;
    right: 0;
    width: 100%;
    height: env(safe-area-inset-top);
    background-color: #42622f;
}

header {
    @include flexed;

    position: fixed;
    top: env(safe-area-inset-top);
    left: 0;
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    // background-color: lightgreen;
    $headerBgClr: #31511e;
    $headerClr: #f6fcdf;
    background-color: $headerBgClr;
    color: $headerClr;
    z-index: 999999;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */

    .wrapper {
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
        height: auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: $gapLen;
        padding: 15px 5rem;

        @media screen and (max-width: 640px) {
            padding: 10px 2.5rem;
            gap: calc($gapLen/2);
        }

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            overflow: hidden;

            @media screen and (max-width: 640px) {
                gap: 0;
            }

            &__icon {
                max-height: 32px;
                max-width: 32px;
                border-radius: 6px;
                overflow: hidden;

                @media screen and (max-width: 640px) {
                    max-height: 26px;
                    max-width: 26px;
                }

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__text {
                font-family: pally, sans-serif;
                font-size: 1.8rem;

                @media screen and (max-width: 640px) {
                    font-size: 0;
                    /* hidden in mobiles */
                }
            }
        }

        nav {
            @include full;
            @include flexed;
            flex: 1 0 20%;

            ul {
                @include full;

                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 30px;

                @media screen and (max-width: 640px) {
                    gap: 15px;
                }

                li {
                    position: relative;
                    font-size: 1.75rem;
                    padding: 4px 0;

                    -webkit-user-select: none; /* Safari */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Standard syntax */

                    @media screen and (max-width: 640px) {
                        font-size: 1.5rem;
                        padding: 4px 0;

                        &:nth-last-child(4),
                        &:nth-last-child(1),
                        &:nth-last-child(2) {
                            display: none;
                        }
                    }

                    &.dropdown {
                        ul {
                            flex-direction: column;
                            position: absolute;
                            top: 100%;
                            left: -150%;
                            width: 350%;
                            height: auto;
                            background-color: color.adjust(
                                $headerBgClr,
                                $lightness: 10%
                            );
                            color: $headerClr;
                            padding: 15px;
                            border-radius: calc($gapLen/2);
                            overflow: hidden;
                            transform: scaleY(0);
                            opacity: 0;
                            transform-origin: top center;
                            transition: all 0.4s
                                cubic-bezier(0.175, 0.885, 0.32, 1.275);
                            gap: 10px;

                            li {
                                @include flexed;
                                height: fit-content;
                                padding: 5px 0;

                                -webkit-user-select: none; /* Safari */
                                -moz-user-select: none; /* Firefox */
                                -ms-user-select: none; /* Internet Explorer/Edge */
                                user-select: none; /* Standard syntax */
                            }
                        }

                        &:hover {
                            ul {
                                transform: scaleY(1);
                                opacity: 1;
                            }
                        }
                    }

                    a {
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                            text-underline-offset: 2px;
                            text-decoration-thickness: 1px;
                        }
                    }
                }
            }
        }

        .mobile-nav {
            display: none;
            width: 20px;
            height: 20px;
            margin: 0 7px;

            ul {
                flex-direction: column;
                position: absolute;
                top: 40px;
                left: 0%;
                width: 100%;
                height: auto;
                background-color: $headerBgClr;
                color: $headerClr;
                padding: calc($gapLen/2) 0;
                overflow: hidden;
                transform: scaleY(0);
                opacity: 0;
                transform-origin: top center;
                transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                li {
                    @include flexed;
                    height: auto;
                    padding: 5px 0;

                    -webkit-user-select: none; /* Safari */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Standard syntax */
                }
            }

            &:hover {
                ul {
                    transform: scaleY(1);
                    opacity: 1;
                }
            }

            @media screen and (max-width: 640px) {
                display: flex;
            }
        }

        .options {
            @include flexed;
            /* border: 1px solid red; */

            height: 100%;
            margin-left: 15px;
            gap: 30px;
            cursor: pointer;
            pointer-events: all;

            @media screen and (max-width: 640px) {
                margin-left: 5px;
                gap: 15px;
            }

            .dark-mode-button,
            .download-button {
                @include flexed;
            }
        }
    }
}
