.musics {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;

  &.loading {
    /* opacity: 0.1; */
    cursor: not-allowed;

    // spinner overlay
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      margin-left: -20px;
      border: 4px solid rgba(0, 0, 0, 0.2);
      border-top-color: #000;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
      z-index: 9999;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f6fcdf;
      z-index: 999;
      pointer-events: none;
    }
  }
}

body.dark .musics::before {
  border: 4px solid rgba(178, 178, 178, 0.2);
  border-top-color: #cdcdcd;
}
body.dark .musics::after {
  background: #1a1a1a;
}

.music {
  font-size: 3rem;
  font-weight: 500;
  background: #f6fcdf;
  padding: 1rem 0;
  position: relative;
  z-index: 1;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: -1px;
  display: flex;
  align-items: center;

  @media (max-width: 440px) {
    font-size: 2rem;
  }

  &:visited {
    &:after {
      color: black;
    }
  }

  img {
    // it regulates the li height
    width: 32px;
    height: 32px;
    transform: scale(0.7);
    object-fit: cover;
    display: block;

    @media screen and (max-width: 640px) {
      height: 1.5rem;
      width: 1.5rem;
      min-height: 1.5rem;
      min-width: 1.5rem;
      transform: scale(1);
    }
  }

  .audio-player {
    padding-right: 20px;
    width: 100%;

    figure {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 440px) {
        transform: translateX(4px) !important;
      }

      figcaption {
        $fs: 2rem;
        font-size: $fs;
        /* border: 1px solid; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        text-transform: capitalize;
        font-family: Matter, sans-serif;

        .ms {
          height: $fs;
          width: $fs;
          min-height: $fs;
          min-width: $fs;
          font-weight: 200;
        }

        span {
          display: block;
        }

        @media screen and (max-width: 640px) {
          /* $fs: 1.5rem; */
          font-size: 1.5rem;

          .ms {
            height: 1.5rem;
            width: 1.5rem;
            min-height: 1.5rem;
            min-width: 1.5rem;
            font-weight: 200;
          }
        }
      }

      .audio-controls {
        // $thumbColor: lightgreen;
        $thumbColor: #859f3d;
        $audioBackgroundClr: rgba($thumbColor, 1);
        // $thumbColor2: green;
        $thumbColor2: #31511e;
        $gap: 15px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: $gap;
        padding: 5px $gap;
        border-radius: $gap * 2;
        border: 1px solid black;
        background-color: $audioBackgroundClr;

        @media screen and (max-width: 640px) {
          gap: 7px;
          height: 3.5rem;
        }

        .playPauseBtn {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        input.progressBar {
          $height: 6px;
          $width: 100px;

          // remove default styles
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          width: $width;
          height: $height;
          border-radius: 2 * $height;
          background-color: rgba($thumbColor2, 0.4);
          display: none;

          &.player-is-active {
            display: flex;
          }

          @media screen and (max-width: 640px) {
            width: 50px;
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 2 * $height;
            height: 2 * $height;
            border-radius: 50%;
            background-color: $thumbColor2;
          }
          &::-moz-range-thumb {
            width: 2 * $height;
            height: 2 * $height;
            border-radius: 50%;
            background-color: $thumbColor2;
            border: none;
          }
        }

        .timeDisplay {
          font-size: medium;
          color: #353535;
          display: none;

          &.player-is-active {
            display: flex;
          }
        }
      }
    }
  }

  span {
    display: inline-block;
    pointer-events: none;
  }
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  mix-blend-mode: difference;
  transform: scaleY(0);
  pointer-events: none;
}
