@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Instrument+Serif:ital@0;1&display=swap");

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: MatterBold;
    font-weight: 500;
    font-style: normal;
    src: url("assets/fonts/matter-medium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Matter;
    font-weight: 300;
    font-style: normal;
    src: url("assets/fonts/matter-light.woff2") format("woff2");
    font-display: swap;
}

.instrument-serif-regular,
.isr {
    font-family: "Instrument Serif", serif;
    font-weight: 500;
    font-style: normal;
}

.instrument-serif-regular-italic,
.isri {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}
.emilys-candy-regular,
.ecr {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
}
